apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
- pat.yaml
patches:
- target:
    kind: CronJob
    name: renovate
    namespace: renovate
  patch: |
    - op: add
      path: /spec/jobTemplate/spec/template/spec/containers/0/envFrom/0
      value:
        secretRef:
          name: renovate-github-pat
