apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
- target:
    kind: Service
    name: palworld-svc
    namespace: palworld
  patch: |
    - op: add
      path: /spec/type
      value: LoadBalancer
    - op: add
      path: /spec/loadBalancerClass
      value: tailscale
