# cluster spec made for a minikube environment running on a vm
# cluster consists of:
#
# - CephFS
# - Block storage pool
#
# Minikube had 4 disks "attached" to it: ^sd[a-d].
# ^sd[b-d] are made available to rook-ceph
cephClusterSpec:
  cephVersion:
    image: quay.io/ceph/ceph:v19.2.3
  mon:
    count: 1
    allowMultiplePerNode: true
    volumeClaimTemplate:
      spec:
        storageClassName: local-storage
        resources:
          requests:
            storage: 1Gi
  mgr:
    count: 1
    allowMultiplePerNode: true
  dashboard:
    enabled: true
    ssl: false

  storage:
    useAllNodes: true
    useAllDevices: false
    deviceFilter: ^sd[b-d]

ingress:
  dashboard:
    host:
      name: dashboard-staging.noodoodle.us
    ingressClassName: nginx

cephBlockPools:
  - name: ceph-blockpool
    spec:
      failureDomain: host
      replicated:
        size: 1
    storageClass:
      enabled: true
      name: ceph-block

cephFileSystems:
  - name: ceph-filesystem
    spec:
      metadataPool:
        replicated:
          size: 1
      dataPools:
        - failureDomain: host
          replicated:
            size: 1
      metadataServer:
        activeCount: 1
    storageClass:
      enabled: true
      isDefault: false
      name: ceph-filesystem
cephObjectStores: []
