apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
- target:
    kind: StatefulSet
    name: palworld-server
  patch: |
    - op: add
      path: /spec/template/spec/containers/0/resources
      value:
        requests:
          cpu: "2"
          memory: "6Gi"
        limits:
          cpu: "8"
          memory: "16Gi"
