apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
- server.yaml
patches:
- target:
    kind: StatefulSet
    name: palworld-server
  patch: |
    - op: add
      path: /spec/template/spec/containers/0/envFrom/0
      value:
        secretRef:
          name: palworld-auth
