# NOTE: this will make the configuration of home assistant read only
# Set up Home Assistant via a local portforward first to allow the necessary files to be generated, then apply this component to the kustomization
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
- name: home-assistant-config
  namespace: home-assistant
  files:
  - configuration.yaml=configuration.yaml
generatorOptions:
  disableNameSuffixHash: true

patches:
- target:
    kind: Deployment
    name: home-assistant
    namespace: home-assistant
  patch: |
    - op: add
      path: /spec/template/spec/containers/0/volumeMounts/0
      value:
        name: config
        mountPath: /config/configuration.yaml
        subPath: configuration.yaml
    - op: add
      path: /spec/template/spec/volumes/0
      value:
        name: config
        configMap:
          name: home-assistant-config
