apiVersion: v1
kind: Namespace
metadata:
  name: ingress
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
spec:
  interval: 24h
  url: https://traefik.github.io/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 38.0.x
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 24h
  valuesFrom: []
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
