apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../../features/traefik-dash-ingress
- ../../../features/sync-stack
- ../../../features/sync-stack-syncthing
components:
- ../../../components/dashboards-testing
- ../../../components/syncthing-storage
