apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../../features/deluge
- ../../../features/home-assistant
- ../../../features/jellyfin
- ../../../features/media-stack
- ../../../features/traefik-dash-ingress
components:
- ../../../components/dashboards-testing
- ../../../components/home-assistant-config
- ../../../components/secrets-testing/deluge
