apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/dashboard-ceph/ingress.yaml
components:
  - ../components/ingress-middleware
  - ../components/self-signed-testing
configurations:
  - ../../../templates/tls-secret/kusomizeconfig.yaml
