apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base/ceph
- ../base/grafana
- ../base/pihole
- ../base/syncthing
components:
- ../components/secrets-testing
- ../components/dashboards-testing
- ../../components-common/tls-secret-ref
