apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/dashboard-grafana
  # - ../base/dashboard-pihole
  # - ../base/dashboard-traefik
patches:
  - target:
      kind: HTTPRoute
      name: grafana-http-route
    patch: |
      - op: replace
        path: /spec/hostnames/0
        value: grafana.local
