apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../../features/deluge
- ../../../features/home-assistant
- ../../../features/jellyfin
- ../../../features/media-stack
- ../../../features/palworld
- ../../../features/traefik-dash-ingress
- ../../../features/syncthing
components:
- ../../../components/dashboards-testing
- ../../../components/home-assistant-config
- ../../../components/secrets-testing/palworld
- ../../../components/secrets-testing/deluge
- ../../../components/palworld-values
- ../../../components/palworld-cephfs-backups
- ../../../components/palworld-rbd-storage
- ../../../components/syncthing-storage
