apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base/traefik
components:
- ../components/secrets-testing
- ../components/dashboards-testing
- ../../components-common/tls-secret-ref
