apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
- target:
    kind: IPAddressPool
  patch: |
    - op: replace
      path: /spec/addresses
      value:
        - 172.28.0.10-172.28.0.12
