apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
- cloudflare-dns.yaml
patches:
- target:
    kind: Issuer
    name: cloudflare-issuer
  patch: |
    - op: add
      path: /spec/acme/solvers/0/dns01/cloudflare/apiTokenSecretRef
      value:
        name: cloudflare-dns
        key: apiToken

