apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
- name: palworld-gameplay-values
  namespace: palworld
  literals:
  # Difficulty, setting values other than None is currently unsupported
  # - DIFFICULTY="None"
  # - RANDOMIZER_TYPE=""
  # - RANDOMIZER_SEED="none"
  # General settings
  - AUTO_SAVE_SPAN="30.000000"
  # - COOP_PLAYER_MAX_NUM="4"
  # - CROSSPLAY_PLATFORMS="(Steam,Xbox,PS5,Mac)"
  # - DAYTIME_SPEEDRATE="1.000000"
  # - ENABLE_FAST_TRAVEL="True"
  # - HARDCORE="False"
  # - INSTALL_BETA_INSIDER="False"
  # - IS_MULTIPLAY="False"
  # - IS_PVP="False"
  # - IS_START_LOCATION_SELECT_BY_MAP="True"
  # - NIGHTTIME_SPEEDRATE="1.000000"
  # - USE_BACKUP_SAVE_DATA="True"
  # - USE_DEPOT_DOWNLOADER="False"
  # Player settings
  - DEATH_PENALTY="None"
  # - ENABLE_PLAYER_TO_PLAYER_DAMAGE="False"
  # - ENABLE_FRIENDLY_FIRE="False"
  # - ENABLE_AIM_ASSIST_PAD="True"
  # - ENABLE_AIM_ASSIST_KEYBOARD="False"
  # - ENABLE_NON_LOGIN_PENALTY="True"
  # - EXIST_PLAYER_AFTER_LOGOUT="False"
  - EXP_RATE="2.000000"
  # - PLAYER_DAMAGE_RATE_ATTACK="1.000000"
  # - PLAYER_DAMAGE_RATE_DEFENSE="1.000000"
  # - PLAYER_STOMACH_DECREASE_RATE="1.000000"
  # - PLAYER_STAMINA_DECREASE_RATE="1.000000"
  # - PLAYER_AUTO_HP_REGEN_RATE="1.000000"
  # - PLAYER_AUTO_HP_REGEN_RATE_IN_SLEEP="1.000000"
  # Pal settings
  - ALLOW_GLOBAL_PALBOX_EXPORT="True"
  - ALLOW_GLOBAL_PALBOX_IMPORT="True"
  # - PAL_AUTO_HP_REGEN_RATE="1.000000"
  # - PAL_AUTO_HP_REGEN_RATE_IN_SLEEP="1.000000"
  # - PAL_CAPTURE_RATE="1.000000"
  # - PAL_DAMAGE_RATE_ATTACK="1.000000"
  # - PAL_DAMAGE_RATE_DEFENSE="1.000000"
  - PAL_EGG_DEFAULT_HATCHING_TIME="1.00000"
  # - PAL_LOST="False"
  # - PAL_SPAWN_NUM_RATE="1.000000"
  # - PAL_STAMINA_DECREASE_RATE="1.000000"
  # - PAL_STOMACH_DECREASE_RATE="1.000000"
  # - WORK_SPEED_RATE="1.000000"
  # Building settings
  - BUILD_AREA_LIMIT="False"
  # - BUILD_OBJECT_HP_RATE="1.000000"
  # - BUILD_OBJECT_DAMAGE_RATE="1.000000"
  - BUILD_OBJECT_DETERIORATION_DAMAGE_RATE="0.000000"
  - MAX_BUILDING_LIMIT_NUM="0"
  # Base & Guild settings
  - BASE_CAMP_WORKER_MAX_NUM="15"
  - BASE_CAMP_MAX_NUM_IN_GUILD="6"
  # - BASE_CAMP_MAX_NUM="128"
  # - AUTO_RESET_GUILD_NO_ONLINE_PLAYERS="False"
  # - AUTO_RESET_GUILD_TIME_NO_ONLINE_PLAYERS="72.00000"
  # - CAN_PICKUP_OTHER_GUILD_DEATH_PENALTY_DROP="False"
  # - ENABLE_DEFENSE_OTHER_GUILD_PLAYER="False"
  - GUILD_PLAYER_MAX_NUM="20"
  # - INVISIBLE_OTHER_GUILD_BASE_CAMP_AREA_FX="False"
  - SHOW_PLAYER_LIST="True"
  # Items and equipment settings
  # - ACTIVE_UNKO="False"
  # - COLLECTION_DROP_RATE="1.000000"
  # - COLLECTION_OBJECT_HP_RATE="1.000000"
  # - COLLECTION_OBJECT_RESPAWN_SPEED_RATE="1.000000"
  # - DROP_ITEM_MAX_NUM="3000"
  # - DROP_ITEM_MAX_NUM_UNKO="100"
  # - DROP_ITEM_ALIVE_MAX_HOURS="1.000000"
  # - EQUIPMENT_DURABILITY_DAMAGE_RATE="1.000000"
  # - ITEM_CONTAINER_FORCE_MARK_DIRTY_INTERVAL="1.000000"
  # - ITEM_WEIGHT_RATE="1.000000"
  - SUPPLY_DROP_SPAN="180"
  # Enemy settings
  - ENABLE_INVADER_ENEMY="True"
  - ENABLE_PREDATOR_BOSS_PAL="True"
  # - ENEMY_DROP_ITEM_RATE="1.000000"
  # Misc
  # - BAN_LIST_URL="https://api.palworldgame.com/api/banlist.txt"
  # - REGION=""
  # - REST_API_ENABLED="True"
  # - SERVER_REPLICATE_PAWN_CULL_DISTANCE="15000.000000"
  # - SERVER_REPLICATE_PAWN_CULL_DISTANCE_IN_BASE_CAMP="5000.000000"
  # - USEAUTH="True"

patches:
- target:
    kind: StatefulSet
    name: palworld-server
  patch: |
    - op: add
      path: /spec/template/spec/containers/0/envFrom/0
      value:
        configMapRef:
          name: palworld-gameplay-values
