toolbox:
  enabled: true

# ingress:
#   dashboard:
#     host:
#       name: dashboard.example.com

cephClusterSpec:
  dataDirHostPath: /data/rook
  skipUpgradeChecks: false
  mon:
    count: 1
    allowMultiplePerNode: true
  mgr:
    count: 1
    allowMultiplePerNode: true
  dashboard:
    enabled: true
    ssl: false
  storage:
    useAllNodes: true
    useAllDevices: true
