toolbox:
  enabled: true

# ingress:
#   dashboard:
#     host:
#       name: dashboard.example.com

cephClusterSpec:
  dataDirHostPath: /data/rook
  skipUpgradeChecks: false

  mon:
    count: 1
    allowMultiplePerNode: true

  mgr:
    count: 1
    allowMultiplePerNode: true

  dashboard:
    enabled: true
    ssl: false

  storage:
    useAllNodes: true
    useAllDevices: true

# repicas limited to 1 for all storge classes
cephBlockPools:
  - name: ceph-blockpool
    spec:
      failureDomain: host
      replicated:
        size: 1 # default 3
    storageClass:
      enabled: true
      name: ceph-block
      isDefault: true

cephFileSystems:
  - name: ceph-filesystem
    spec:
      metadataPool:
        replicated:
          size: 1 # default 3
      dataPools:
        - failureDomain: host
          replicated:
            size: 1 # default 3
          name: data0
      metadataServer:
        activeCount: 1
        activeStandby: true
        priorityClassName: system-cluster-critical
    storageClass:
      enabled: true
      isDefault: false
      name: ceph-filesystem
      pool: data0

cephObjectStores:
  - name: ceph-objectstore
    spec:
      metadataPool:
        failureDomain: host
        replicated:
          size: 1
      dataPool:
        failureDomain: host
        erasureCoded:
          dataChunks: 2
          codingChunks: 1
        parameters:
          bulk: "true"
      preservePoolsOnDelete: true
      gateway:
        port: 80
        resources:
          limits:
            memory: "2Gi"
          requests:
            cpu: "1000m"
            memory: "1Gi"
        instances: 1
        priorityClassName: system-cluster-critical
    storageClass:
      enabled: true
      name: ceph-bucket
      reclaimPolicy: Delete
      volumeBindingMode: "Immediate"
