# Apply these security componenets after original deployment
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
- target:
    name: palworld-server
    kind: StatefulSet
  patch: |
    - op: add
      path: /spec/template/spec/securityContext
      value:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
    - op: add
      path: /spec/template/spec/containers/0/securityContext
      value:
        allowPrivilegeEscalation: false
        capabilities:
          drop: ["ALL"]
