apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

secretGenerator:
- name: cloudflare-dns-token
  namespace: ingress
  files:
  - api-token=cloudflare-dns-token.enc
generatorOptions:
  disableNameSuffixHash: true

patches:
- target:
    kind: Issuer
    name: cloudflare-issuer
  patch: |
    - op: add
      path: /spec/acme/solvers/0/dns01/cloudflare/apiTokenSecretRef
      value:
        name: cloudflare-dns-token
        key: api-token
    - op: replace
      path: /spec/acme/server
      value: https://acme-staging-v02.api.letsencrypt.org/directory
- target:
    kind: Certificate
    name: wildcard-noodoodle-cert
  patch: |
    - op: replace
      path: /spec/dnsNames
      value:
      - "dev.noodoodle.us"
      - "*.dev.noodoodle.us"
