apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: syncthing
  name: syncthing
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: syncthing
  template:
    metadata:
      labels:
        app: syncthing
    spec:
      containers:
      - image: lscr.io/linuxserver/syncthing:2.0.14@sha256:3596eec7b5ee71257aaff2658c805858de0a80244e3d69c1ef8ff260aa09c518
        name: syncthing
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: America/New_York
        ports:
        - containerPort: 8384
        - containerPort: 22000
        volumeMounts:
        - name: datadir
          mountPath: /config
      volumes:
      - name: datadir
        persistentVolumeClaim:
          claimName: syncthing-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: syncthing-pvc
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
