apiVersion: ceph.rook.io/v1
kind: CephNFS
metadata:
  name: ceph-nfs
spec:
  server:
    active: 1
    logLevel: NIV_DEBUG
  security: {}
---
apiVersion: ceph.rook.io/v1
kind: CephBlockPool
metadata:
  name: builtin-nfs
  namespace: rook-ceph
spec:
  name: .nfs
  failureDomain: osd
  replicated:
    size: 1
    requireSafeReplicaSize: false
---
apiVersion: v1
kind: Service
metadata:
  name: ceph-nfs-lb
spec:
  ports:
    - name: nfs
      port: 2049
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    app: ceph-nfs
    ceph_nfs: test
    instance: a
