apiVersion: ceph.rook.io/v1
kind: CephNFS
metadata:
  name: test
spec:
  server:
    active: 1
    logLevel: NIV_DEBUG
  security: {}
---
# apiVersion: v1
# kind: Service
# metadata:
#   name: rook-ceph-nfs-lb
# spec:
#   ports:
#     - name: nfs
#       port: 2049
#   type: LoadBalancer
#   externalTrafficPolicy: Local
#   selector:
#     app: rook-ceph-nfs
#     ceph_nfs: test
#     instance: a
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: rook-ceph-nfs-ingress-tcp
spec:
  routes:
    - match: HostSNI(`nfs.local`)
      services:
        - name: rook-ceph-nfs-test-a
          port: 2049
          nativeLB: true
