apiVersion: ceph.rook.io/v1
kind: CephNFS
metadata:
  name: rook-ceph-nfs
spec:
  server:
    active: 1
    logLevel: NIV_DEBUG
  security: {}
---
apiVersion: v1
kind: Service
metadata:
  name: rook-ceph-nfs-lb
spec:
  ports:
    - name: nfs
      port: 2049
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    app: rook-ceph-nfs
    ceph_nfs: rook-ceph-nfs
    instance: a
