apiVersion: ceph.rook.io/v1
kind: CephNFS
metadata:
  name: test
spec:
  server:
    active: 1
    logLevel: NIV_DEBUG
  security: {}
---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: rook-ceph-nfs-ingress-tcp
spec:
  entryPoints:
    - nfs
  routes:
    - match: HostSNI(`*`)
      services:
        - name: rook-ceph-nfs-test-a
          port: 2049
          nativeLB: true
