apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: pihole-ingress
  namespace: ingress
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`pihole.ts.noodoodle.us`)
    services:
    - name: pihole-web
      namespace: pihole
      port: 80
