apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
  - name: rook-ceph-cluster-spec
    namespace: rook-ceph
    files:
      - values.yaml=rook-ceph-cluster-spec.yaml
  - name: rook-ceph-cluster-blockpools
    namespace: rook-ceph
    files:
      - values.yaml=rook-ceph-cluster-blockpools.yaml
  - name: rook-ceph-cluster-bucket
    namespace: rook-ceph
    files:
      - values.yaml=rook-ceph-cluster-bucket.yaml
  - name: rook-ceph-cluster-fs
    namespace: rook-ceph
    files:
      - values.yaml=rook-ceph-cluster-fs.yaml

patches:
  - target:
      kind: HelmRelease
    patch: |
      - op: add
        path: /spec/valuesFrom
        value:
          - kind: ConfigMap
            name: rook-ceph-cluster-spec
          - kind: ConfigMap
            name: rook-ceph-cluster-blockpools
          - kind: ConfigMap
            name: rook-ceph-cluster-bucket
          - kind: ConfigMap
            name: rook-ceph-cluster-fs
