apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
- target:
    kind: CephCluster
    name: rook-ceph
    namespace: rook-ceph
  patch: |
    - op: replace
      path: /spec/storage/nodes
      value:
      - name: dev-00
        devices:
        - name: /dev/disk/by-partlabel/r-data
      - name: dev-01
        devices:
        - name: /dev/disk/by-partlabel/r-data
      - name: dev-02
        devices:
        - name: /dev/disk/by-partlabel/r-data
