apiVersion: v1
kind: Namespace
metadata:
  name: trefik-gateway
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
spec:
  interval: 24h
  url: https://traefik.github.io/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 12h
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 38.0.x
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
      interval: 12h
  valuesFrom:
    - kind: ConfigMap
      name: traefik-values
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
