apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
  - target:
      kind: IPAddressPool
    patch: |
      - op: replace
        path: /spec/addresses
        value:
          - 192.168.39.10-192.168.39.12
