apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../../features/monitoring-ingress
- ../../../features/pihole-ingress
- ../../../features/rook-ceph-ingress
- ../../../features/syncthing
- ../../../features/traefik-dash-ingress
components:
- ../../../components/dashboards-testing
- ../../../components/dashboards-tls
