apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
- name: rook-ceph-cluster-spec
  namespace: rook-ceph
  files:
  - values.yaml=rook-ceph-cluster-spec.yaml

generatorOptions:
  disableNameSuffixHash: true

patches:
- target:
    kind: HelmRelease
    name: rook-ceph-cluster
  patch: |
    - op: add
      target:
        kind: HelmRelease
        name: rook-ceph-cluster
      path: /spec/valuesFrom/0
      value:
        kind: ConfigMap
        name: rook-ceph-cluster-spec
