apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-dashboard
  namespace: ingress
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`traefik.int.noodoodle.us`)
    services:
    - name: api@internal
      kind: TraefikService
