providers:
  kubernetesGateway:
    enabled: true
  kubernetesCRD:
    allowCrossNamespace: true
gateway:
  listeners:
    web:
      namespacePolicy:
        from: All
ports:
  web:
    redirections:
      entryPoint:
        to: websecure
  nfs:
    port: 2049
    expose:
      default: true
    exposedPort: 2049
  wireguard:
    port: 51820
    expose:
      default: true
    exposedPort: 51820
