apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
- configmap.yaml

configMapGenerator:
- name: renovate-config-repos
  namespace: renovate
  files:
  - config.yaml=repos.yaml

generatorOptions:
  disableNameSuffixHash: true

patches:
- target:
    kind: CronJob
    name: renovate
    namespace: renovate
  patch: |
    - op: add
      path: /spec/jobTemplate/spec/template/spec/volumes/0
      value:
       name: repo-config
       configMap:
         name: renovate-config-repos
    - op: add
      path: /spec/jobTemplate/spec/template/spec/volumes/0
      value:
       name: workdir
       emptyDir: {}
    - op: add
      path: /spec/jobTemplate/spec/template/spec/containers/0/volumeMounts/0
      value:
        name: repo-config
        mountPath: /opt/renovate
    - op: add
      path: /spec/jobTemplate/spec/template/spec/containers/0/volumeMounts/0
      value:
        name: workdir
        mountPath: /tmp/renovate
    - op: add
      path: /spec/jobTemplate/spec/template/spec/containers/0/envFrom/0
      value:
        configMapRef:
          name: renovate-config
