apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: jellyfin
    storage: media-stack
    security: lscr
  name: jellyfin
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
      - image: jellyfin/jellyfin:10.11.6@sha256:333b647716631443a43c7fabac4b0c46b4e2f036bad19547e00958f10f721b85
        name: jellyfin
        ports:
        - name: http
          containerPort: 8096
        volumeMounts:
        - name: configdir
          mountPath: /config
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
      initContainers: []
      volumes:
      - name: configdir
        persistentVolumeClaim:
          claimName: jellyfin-config-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-config-pvc
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
