apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pihole
resources:
  - release.yaml
configMapGenerator:
  - name: pihole-values
    namespace: pihole
    files:
      - values.yaml=pihole-values.yaml
configurations:
  - ../../../../templates/name-reference/kustomizeconfig.yaml
