apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
- target:
    kind: Deployment
    name: syncthing
    namespace: sync-stack
  patch: |
    - op: add
      path: /spec/template/spec/volumes
      value:
      - name: sync-dir
        persistentVolumeClaim:
          claimName: sync-stack-pvc
    - op: add
      path: /spec/template/spec/containers/0/volumeMounts
      value:
      - name: sync-dir
        mountPath: /config/sync
    - op: add
      path: /spec/template/spec/initContainers
      value:
      - name: mk-permissions
        image: busybox:1.28
        command:
        - "/bin/sh"
        - "-c"
        args:
        - chown 1000:1000 /mnt
        volumeMounts:
        - name: sync-dir
          mountPath: /mnt
