apiVersion: v1
kind: Namespace
metadata:
  name: tailscale
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: tailscale
spec:
  interval: 24h
  url: https://pkgs.tailscale.com/unstable/helmcharts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  interval: 5m
  chart:
    spec:
      chart: tailscale-operator
      version: 1.92.x
      sourceRef:
        kind: HelmRepository
        name: tailscale
        interval: 24h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
