apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
- configmap-gameplay.yaml
- configmap-server.yaml

patches:
- target:
    kind: StatefulSet
    name: palworld-server
  patch: |
    - op: add
      path: /spec/template/spec/containers/0/envFrom/0
      value:
        configMapRef:
          name: palworld-server-values
    - op: add
      path: /spec/template/spec/containers/0/envFrom/0
      value:
        configMapRef:
          name: palworld-gameplay-values
