providers:
  kubernetesGateway:
    enabled: true
gateway:
  listeners:
    web:
      namespacePolicy:
        from: All
ports:
  nfs:
    port: 2049
    expose:
      default: true
    exposedPort: 2049
